<h2 id="h2">About Gradients</h2>
<div id="colors"></div>
<p id="p"> They are fun!</p>

  <div class="col-sm-4">
  <img id="gradient" src = "./img/gradient.gif">
  </div>
  <div class="col-sm-4">
    <img id="gradient" src = "./img/fun.gif">
  </div>
  <div class="col-sm-4">
    <img id="gradient" src = "./img/gradient.gif">
  </div>
