<h2 id="h2">Random</h2>
<p id="p"> Every time you refresh, it will appear a new random color </p>
<section class="colors">

<ul class ="row forOne">
  <% currentColor = Math.floor(Math.random() * colors.length ); %>
    <% selectedColor = colors[currentColor]; %>

    <div class = "colorBox cbox-bigger col-md-6">
    <li>
      <div class = "innerBox ibox-bigger" style=" background-color: <%= selectedColor.hex %> "></div>
      <div class ="colorName cn-bigger"><%= selectedColor.keyword %></div>
      <div class ="colorHex ch-bigger"> Hex: <%= selectedColor.hex %></div>
    </li>
    </div>

  </ul>

</section>
